# Hameed Karim

## Research question/interests

My interest/question is finding out who the worst ever all-star player. This will be done by combing through all the data and analyzing all players who have been all-stars. I will analyze their performance in the all-star games and throughout their careers (regular season and playoffs) ulitizing the statistics given from our data sources.

In [4]:
import numpy as np

In [9]:
import pandas as pd
path0 = "../data/raw/Game.csv"
pd.read_csv(path0)

C:\Users\tkari\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (58,64,65,68,79,93) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,GAME_ID,SEASON_ID,TEAM_ID_HOME,TEAM_ABBREVIATION_HOME,TEAM_NAME_HOME,GAME_DATE,MATCHUP_HOME,WL_HOME,MIN_HOME,FGM_HOME,...,LAST_GAME_VISITOR_TEAM_CITY1,LAST_GAME_VISITOR_TEAM_POINTS,HOME_TEAM_WINS,HOME_TEAM_LOSSES,SERIES_LEADER,VIDEO_AVAILABLE_FLAG,PT_AVAILABLE,PT_XYZ_AVAILABLE,HUSTLE_STATUS,HISTORICAL_STATUS
0,24600001,21946,1610610035,HUS,Toronto Huskies,1946-11-01,HUS vs. NYK,L,0,25.0,...,NaN,NaN,3.0,3.0,Tied,0.0,0.0,0.0,0.0,1.0
1,24600003,21946,1610610034,BOM,St. Louis Bombers,1946-11-02,BOM vs. PIT,W,0,20.0,...,NaN,NaN,5.0,1.0,St. Louis,0.0,0.0,0.0,0.0,1.0
2,24600004,21946,1610610025,CHS,Chicago Stags,1946-11-02,CHS vs. NYK,W,0,21.0,...,NaN,NaN,3.0,3.0,Tied,0.0,0.0,0.0,0.0,1.0
3,24600002,21946,1610610032,PRO,Providence Steamrollers,1946-11-02,PRO vs. BOS,W,0,21.0,...,NaN,NaN,5.0,1.0,Providence,0.0,0.0,0.0,0.0,1.0
4,24600005,21946,1610610028,DEF,Detroit Falcons,1946-11-02,DEF vs. WAS,L,0,10.0,...,NaN,NaN,1.0,5.0,Washington,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62443,22001076,22020,1610612757,POR,Portland Trail Blazers,2021-05-16,POR vs. DEN,W,240,46.0,...,DEN,106.0,1.0,2.0,Denver,1.0,0.0,0.0,1.0,0.0
62444,22001071,22020,1610612750,MIN,Minnesota Timberwolves,2021-05-16,MIN vs. DAL,W,240,49.0,...,DAL,128.0,1.0,2.0,Dallas,1.0,0.0,0.0,0.0,0.0
62445,22001068,22020,1610612741,CHI,Chicago Bulls,2021-05-16,CHI vs. MIL,W,240,45.0,...,MIL,108.0,1.0,2.0,Milwaukee,1.0,0.0,0.0,1.0,0.0
62446,22001072,22020,1610612740,NOP,New Orleans Pelicans,2021-05-16,NOP vs. LAL,L,240,37.0,...,LAL,111.0,1.0,2.0,L.A. Lakers,1.0,0.0,0.0,0.0,0.0
62447,22001077,22020,1610612758,SAC,Sacramento Kings,2021-05-16,SAC vs. UTA,L,240,42.0,...,UTA,154.0,0.0,3.0,Utah,1.0,0.0,0.0,0.0,0.0

In [10]:
path1 = "../data/raw/Player.csv"
pd.read_csv(path1)

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4496  1627790           Ante Zizic       Ante         Zizic          1
4497    78647             Jim Zoet        Jim          Zoet          0
4498    78648            Bill Zopf       Bill          Zopf          0
4499  1627826          Ivica Zubac      Ivica         Zubac          1
4500    78650           Matt Zunic       Matt         Zunic          0

[4501 rows x 5 columns]

In [11]:
path2 = "../data/raw/Player_Attributes.csv"
pd.read_csv(path2)

,ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24T00:00:00,Duke,USA,...,Y,Y,1990,1,25,5.7,0.3,3.3,0.0,NaN
1,76002,Zaid,Abdul-Aziz,Zaid Abdul-Aziz,"Abdul-Aziz, Zaid",Z. Abdul-Aziz,zaid-abdul-aziz,1946-04-07T00:00:00,Iowa State,USA,...,Y,Y,1968,1,5,9.0,1.2,8.0,0.0,NaN
2,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16T00:00:00,UCLA,USA,...,Y,Y,1969,1,1,24.6,3.6,11.2,18.0,NaN
3,51,Mahmoud,Abdul-Rauf,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",M. Abdul-Rauf,mahmoud-abdul-rauf,1969-03-09T00:00:00,Louisiana State,USA,...,Y,Y,1990,1,3,14.6,3.5,1.9,0.0,NaN
4,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03T00:00:00,San Jose State,France,...,Y,Y,1997,1,11,7.8,1.1,3.3,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04T00:00:00,,Croatia,...,Y,Y,2016,1,23,6.0,0.6,3.9,0.0,NaN
4496,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30T00:00:00,Kent State,USA,...,Y,Y,Undrafted,Undrafted,Undrafted,0.3,0.1,1.1,0.0,NaN
4497,78648,Bill,Zopf,Bill Zopf,"Zopf, Bill",B. Zopf,bill-zopf,1948-06-07T00:00:00,Duquesne,USA,...,Y,Y,1970,2,33,2.2,1.4,0.9,0.0,NaN
4498,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18T00:00:00,Mega Basket,Croatia,...,Y,Y,2016,2,32,8.5,1.1,7.0,NaN,0.126
4499,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19T00:00:00,George Washington,USA,...,Y,Y,1947,None,None,4.9,0.9,NaN,0.0,NaN

In [12]:
path3 = "../data/raw/Player_Salary.csv"
pd.read_csv(path3)

,slugSeason,nameTeam,namePlayer,statusPlayer,isFinalSeason,isWaived,isOnRoster,isNonGuaranteed,isTeamOption,isPlayerOption,typeContractDetail,value
0,2020-21,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
1,2021-22,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
2,2022-23,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
3,2023-24,Atlanta Hawks,Bogdan Bogdanovic,current roster,1,0,1,0,0,1,Player Option,18000000.0
4,2020-21,Atlanta Hawks,Brandon Goodwin,current roster,0,0,1,0,0,0,Guaranteed,1701593.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1287,2020-21,Washington Wizards,Russell Westbrook,current roster,0,0,1,0,0,0,Guaranteed,41358814.0
1288,2021-22,Washington Wizards,Russell Westbrook,current roster,0,0,1,0,0,0,Guaranteed,44211146.0
1289,2022-23,Washington Wizards,Russell Westbrook,current roster,1,0,1,0,0,1,Player Option,47063478.0
1290,2020-21,Washington Wizards,Thomas Bryant,current roster,0,0,1,0,0,0,Guaranteed,8333333.0
1291,2021-22,Washington Wizards,Thomas Bryant,current roster,1,0,1,0,0,0,Guaranteed,8666667.0